.formInput {
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: column;
  position: relative;
  border: 1px solid var(--tertiary-color);
  border-radius: 10px;

  & input, & label {
    padding-left: 20px;
    width: 100%;
    height: 60px;
    font-size: 1rem;
    transition: 0.3s ease-in-out;
    cursor: text;
  }

  & input {
    background-color: transparent;
    border: none;
    outline: none;
  }

  & label {
    color: var(--tertiary-color);
    display: flex;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
  }

  & input:focus, & input:not(:placeholder-shown) {
    margin-top: 10px;
  }

  & input:focus + label, & input:not(:placeholder-shown) + label {
    font-size: 0.6rem;
    top: -15px;
    pointer-events: none;
  }
}

.formInputErrors {
  transition: 0.5s ease-in-out;
  border: 1px solid var(--errors-color);
}

.errorMessage {
  margin-top: -10px;
  padding-left: 10px;
  color: var(--errors-color);
  font-size: 0.8rem;
}

.inputPassword {
  padding-right: 60px;
}

.inputPasswordIcon {
  position: absolute;
  right: 20px;
  top: 15px;

  &:hover {
    cursor: pointer;
  }
}